<h1 class="cartId">Cart: {{cartID}}</h1>

<div class="second">
  <a href="/products">Products</a>
</div>

<div class="logout">
  <a href="/api/session/logout">Logout</a>
</div>

<div class="cart">
{{#each auxProducts}}
    <div class="cartContainer">
      <div class="cartTitle">{{title}}</div>
      <div class="cartSubTitle">{{description}}</div>   
      <div class="cartPrice">Price: ${{price}}</div>
      <div class="CartQuantity">Quantity: {{quantity}}</div>
    </div>
{{/each}}
</div>