<div class="userSession">
  <div class="rolSession">Rol: {{userRol}}</div>  
  <div class="nameSession">User: {{userFirst}}</div>  
</div>

{{#if booleanAdmin}}
  <h1>Lista de productos Para Admin</h1>
{{else}}
  <h1>Lista de productos</h1>
{{/if}}

<div class="productContainter">

  <div class="productTitle">
      <div class="id titleCards">ID</div>
      <div class="title titleCards">Titulo</div>
      <div class="description titleCards" style="justify-content: center;">Descripcion</div>
      <div class="price titleCards">Precio</div>
      <div class="thumbnail titleCards"> Imagen </div>
      <div class="code titleCards"> Codigo</div>
      <div class="stock titleCards">Stock</div>
      <div class="category titleCards">Categoria</div>
      <div class="status titleCards">Estado</div>
      <div class="addProduct titleCards">Add</div>
  </div>
  
  {{#if booleanStatus}}
    {{#each payload}}
      <div class="productCard">
        <div class="id">{{this.id}}</div>
        <div class="title">{{this.title}}</div>
        <div class="description">{{this.description}}</div>
        <div class="price">$ {{this.price}}</div>
        <div class="thumbnail">
          <img src={{this.thumbnail}}></img>                
        </div>
        <div class="code">{{this.code}}</div>
        <div class="stock">{{this.stock}}</div>
        <div class="category">{{this.category}}</div>
        <div class="status">{{this.status}}</div>
        <div class="addProduct titleCards">
          <button>
          Add
          </button>
        </div>
      </div>
    {{/each}}
    <div class="paginate">
      {{#if hasPrevPage}}
          <a href={{prevLink}}> &lt; Prev </a>
      {{/if}}
      {{#if hasNextPage}}
          <a href={{nextLink}}>Next &gt;</a>
      {{/if}}
    </div>
  {{else}}
    <div>
        <h2>No hay productos disponibles</h2>
    </div>
  {{/if}}

</div>
